.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 5rem;
}

.main-content {
    padding: 3rem 1.5rem;
}

.secondary-button {
    border-color: #ced4da;
}

.link-box {
    background-color: #fff;
}

.chart-container {
    position: relative;
    min-height: 300px;
}

.spinner-border {
    position: absolute;
    top: 50%;
    right: 50%; /* or: left: 50%; */
}

.hide-element {
    display: none;
}